@import '~bootstrap/scss/bootstrap'

.navbar
  background-color:#9acd32

.navbar-light
.navbar-brand
  color:#ffffff

.input
.preview
  display: block
  position: absolute
  top: 0px
  width: 50vw
  height: 100vh
  padding: 20px
  outline: none
  border: none

.input
  left: 0px

.preview
  right: 0px
  margin-top: 210px
  vertical-align: top
  border-radius: 0 3px 3px 0

.active-image
  text-align: right

.form-control-extend
  width: 40vw
  display: inline

